/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}


/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
}

header {
  text-align: center;
  background: url('../images/bch.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px dashed green;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: #424949;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #424949;
  color: white;
}
.card {
  margin: 20px;
  padding: 10px 20px;
  max-width: 700px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.education {
  display: left;
  margin: 10px auto;
  padding: 40px 40px;
  max-width: 80%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

/* Experience + Interests Wrapper Designs */

#oculusDiv {
  display: left;
  margin: 10px auto;
  padding: 40px 40px;
  max-width: 80%;
  text-align: left;
  background-image: url(../images/oculus.jpg);
  background-position: top 20px left 20px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

#oculusInfo {
  padding-top: 30px;

}

#deepMindDiv {
  display: left;
  margin: 10px auto;
  padding: 40px 40px;
  max-width: 80%;
  text-align: left;
  background-image: url(../images/deepmind.jpg);
  background-position: top 20px left 30px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

#deepMindInfo {
  padding-top: 50px;

}

#infinityWardDiv {
  display: left;
  margin: 10px auto;
  padding: 40px 40px;
  max-width: 80%;
  text-align: left;
  background-image: url(../images/infinityward.jpg);
  background-position: top 20px left 30px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

#infinityWardInfo {
  padding-top: 40px;

}

/* Education and work experience wrapper headings */

#retailHeading {
  font-weight: bold;
  text-decoration: underline;
}

#bartenderHeading {
  font-weight: bold;
  text-decoration: underline;
}

#educationHeading {
  font-weight: bold;
  text-decoration: underline;
}

#schoolHeading {
  font-weight: bold;
  text-decoration: underline;
}

#qualificationsHeading {
  font-weight: bold;
  text-decoration: underline;
}

#retailRolesHeading {
  font-style: italic;
}

#bartenderRolesHeading {
  font-style: italic;
}

#workExperienceHeading {
  font-weight: bold;
  text-decoration: underline;
}

.workExperience {
  display: inline-block;
  margin: 10px auto;
  padding: 40px 40px;
  max-width: 80%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;

}

.education,
.workExperience:hover {
  border-color: #ff99ff;

}
.card:hover {
  border-color: #ff99ff;

}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.rathmore {
  float: right;

}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
